body
{
	background-color:purple;
	padding-left: 5%;
    background-image: url(../img/maze3.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
    font-size: 25px;
    text-shadow: -2px -2px 1px #000, 
                2px 2px 1px #000,
                -2px 2px 1px #000,
                2px -2px 1px #000;

}

.arriba{
	background-image: url('../img/little_Arrow.jpg');
	background-repeat: no-repeat;
}

.abajo{
	background-image: url('../img/little_ArrowAbajo.jpg');
	background-repeat: no-repeat;
}
.derecha{
	background-image: url('../img/little_ArrowDerecha.jpg');
	background-repeat: no-repeat;
}
.izquierda{
	background-image: url('../img/little_ArrowIzquierda.jpg');
	background-repeat: no-repeat;
}

.black
{
	background-color:black;
}

.blue
{
	background-color:blue !important;
}
.celdaBlue
{
	background-color:blue;
}

.red
{
	background-color:red;
}
.white
{
	
	background-color:white;
}
